@font-face {
  font-family: 'icon';
  src:  url('../fonts/icon.eot?p8qjr6');
  src:  url('../fonts/icon.eot?p8qjr6#iefix') format('embedded-opentype'),
    url('../fonts/icon.ttf?p8qjr6') format('truetype'),
    url('../fonts/icon.woff?p8qjr6') format('woff'),
    url('../fonts/icon.svg?p8qjr6#icon') format('svg');
  font-weight: normal;
  font-style: normal;
}